as==0.1
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
-e git+https://github.com/ThiagoPanini/filescope.git@67ea4b18d750607405d6305952d76672ec9ec524#egg=filescope
idna==2.10
importlib-metadata==4.0.0
jeepney==0.6.0
keyring==23.0.1
numpy==1.20.2
packaging==20.9
pandas==1.1.5
pd==0.0.1
pkginfo==1.7.0
pycparser==2.20
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.0
pytz==2021.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
tqdm==4.60.0
twine==3.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
webencodings==0.5.1
zipp==3.4.1
